src/main/mule/hello-world-3.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="Listener-config">
        <http:listener-connection host="0.0.0.0" port="${http.port}"></http:listener-connection>
    </http:listener-config>
    <flow name="name1">
        <http:listener config-ref="Listener-config" doc:id="kqutes" doc:name="Listener" path="/test"></http:listener>
        <set-payload doc:id="pvtmfo" doc:name="Set payload" value="Hello World !!! "></set-payload>
        <logger doc:id="kfcvwr" doc:name="Logger" message="#[payload]"></logger>
    </flow>
</mule>
